		*{ margin: 0px; padding: 0px;}
		.nav{ width: 40px; position: fixed; top: 100px; cursor: pointer; font-size: 24px; color: #fff; right: 170px; z-index: 40; height: 50px; line-height: 50px; text-align: center; background-color:rgba(0,0,0,0.5);}
		#zzc{ width: 100%; height: 0px; position: fixed; z-index: 20; background-color: rgba(0,0,0,0.5);}
		.nav_1{ width: 100%; display: flex; height: 100%; justify-content: center; align-items: center; }
		.nav_1 div{ width: 20%; height:0px; display: flex; overflow: hidden; align-items: center;   text-align: center; font-size: 35px;}
		.nav_1 div a{ cursor: pointer; text-decoration: none; color: #fff;}
		.nav_1 div span{  display: inline-block; margin-right:40px; clear: both; width: 0px; margin-left: 10px; background-color: #fff; height: 2px;  }
		.nav_1 div:nth-of-type(1){ background-color: rgba(30,32,31,0.8);}
		.nav_1 div:nth-of-type(2){ background-color: rgba(105,86,31,0.5);}
		.nav_1 div:nth-of-type(3){ background-color: rgba(123,23,16,0.5);}
		.nav_1 div:nth-of-type(4){ background-color: rgba(10,9,7,0.5);}
		.nav_1 div:nth-of-type(5){ background-color: rgba(80,61,69,0.5);}
		
		header{ width: 100%;}
		.header{ width: 100%; position: relative; height: 800px; }
		.lun{ width: 100%; height: 100%;  left: 0px; position: absolute ;}
		.list-1{ width: 100%; height: 100%; position: relative; top: 0px; left: 0px; z-index: 5;} 
		.list-1 li{ width: 100%; height: 100%; position: absolute; top: ; background-size:100% 100%;}
		.hide{ display: none;}
		.show{ display: block;}
		.a1{  background-image: url(images/d1.jpg);}
		.a2{ background-image: url(images/b22.jpg);}
		.a3{  background-image: url(images/bn1.jpg);}
		.a4{  background-image: url(images/bn2.jpg);}
		.header_1{ z-index: 15; width: 250px; height: 50px; top: 70px; left: 200px; position: absolute;  text-align: center; border-top: 3px solid #F6CC4C; border-bottom: 3px solid #F6CC4C;}
		.header_1 a span{ display: inline-block; margin-right:10px; color: #F6CC4C;}
		.header_1 a{ color: #fff; margin-right: 20px; text-decoration: none; line-height: 50px;  font-weight:bold; font-size:32px;}
		.header_2{ z-index: 15; width: 100px; color: #fff; text-transform: uppercase; line-height: 35px; height: 70px; top: 0px; position: absolute; padding-left: 20px; border-left:9px solid #F6CC4C ;}
		.one1{ top: 350px; left: 300px;}	
		.one2{ top: 250px; left: 750px;}
		.one3{ top: 350px; right: 300px;} 
		.one4{ top: 600px; left: 600px;}
		
		section{ width: 100%; margin-top: 40px;}
		.section{ width: 100%;  margin: auto;}
		.sec-1{ width: 70%; margin: auto; overflow: hidden; }
		.sec-1>h1{text-shadow: 10px 10px 10px #666;  width: 100%; text-transform: uppercase; font-size: 40px; text-align: center; line-height: 40px; height: 40px; color: #00BCD4;}
		.sec-2{ overflow: hidden; width: 100%; margin-top: 30px;}
		.sec-21{ float: left; width: 47%; padding-left: 30px;}
		.sec-21 h2{ color:#F6CC4C; font-weight: normal; font-size: 35px;}
		.sec-21 h3{ color:#F6CC4C; font-weight: normal; margin-top: 20px; font-size: 27px;}
		.sec-21 h4{ margin-top: 10px; font-weight: normal; font-size: 19px; color: #717070;}
		.sec-21 img{ margin-top: 25px;}
		.sec-21 i h3{ font-weight: normal; color: #717070;}
		.sec-21 p{ line-height: 24px; margin-top: 15px; color:#9696B0 ;}
		.btn{ width: 120px; height: 35px; cursor: pointer; margin: 20px 15px; border: none; background-color: #00CDFF; color: #fff; font-size: 16px;}
		.btn:focus{ outline: none; }
		.btn:hover{ background-color: #F6CC4C; transition: all 1s;}
		.sec_2{ overflow: hidden; width: 100%; margin-top: 80px;}
		.sec_2>h1{text-shadow: 10px 10px 10px #666;  width: 100%; text-transform: uppercase; font-size: 40px; text-align: center; line-height: 40px; height: 40px; color: #00BCD4;}
		.sec_21{ width: 100%; margin-top:40px;}
		.sec_21>div{ overflow: hidden;}
		.sec_21>div>div{ width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 10;} 
		#tu-1>div{ background-color: rgba(232,200,98,0.8);}
		#tu-2>div{ background-color: rgba(88,188,228,0.5);}		
		#tu-3>div{ background-color: rgba(232,200,98,0.8);}
		#tu-4>div{ background-color: rgba(88,188,228,0.5);}
		#tu-1>div:hover{ background-color: rgba(75,165,147,0.8); transition: all 1s;}
		#tu-2>div:hover{ background-color: rgba(75,165,147,0.8); transition: all 1s;}
		#tu-3>div:hover{ background-color: rgba(75,165,147,0.8); transition: all 1s;}
		#tu-4>div:hover{ background-color: rgba(75,165,147,0.8); transition: all 1s;}
		.zhe>h3{ text-align: center; line-height: 300px; font-size: 50px; color: #fff;}
		#tu-1{ position: relative; width: 60%; float: left; height: 300px; background: #098;}
		#tu-1>img{ width: 100%; height: 100%;}
		#tu-2{  position: relative;width: 40%; float: left; height: 300px;}
		#tu-2>img{ width: 100%; height: 100%;}		
		#tu-3{ position: relative; width: 34%; float: left; height: 300px; background: #098;}
		#tu-3>img{ width: 100%; height: 100%;}
		#tu-4{ position: relative;width: 66%; float: left; height: 300px;}
		#tu-4>img{ width: 100%; height: 100%;}
		#datu{ display: flex; justify-content: center; width: 100%; height: 300px;}
		#datu div{ height: 300px; position: relative; background: #098;}
		#datu div:nth-of-type(1)>div{ background: #098; width: 100%; height: 300px; position: absolute;}
		#datu div img{ width: 100%; height: 100%;}
		
		.sec_3{ width: 100%; margin-top: 100px; overflow: hidden;}		
		.sec_3>h1{text-shadow: 10px 10px 10px #666; margin-bottom: 30px;  width: 100%; text-transform: uppercase; font-size: 40px; text-align: center; line-height: 40px; height: 40px; color: #00BCD4;}
		.sec_31{ width: 70%; margin: auto; display: flex; justify-content: center;}
		.sec_31 div{ text-align: center; width: 30%;  margin: 10px 10px;}
		.sec_31 div h3{ margin-top: 20px; font-weight: normal; font-size: 25px;}
		.sec_31 div h5{ font-weight: normal; color: #00BCDC; font-size: 14px; margin-top: 6px;}
		.sec_31 div p{ position: relative;}
		.sec_31 div p span{ overflow: hidden;  display: block;  top: 50%; left: 50%; position: absolute;}
		
		.sec_4{ width: 100%; margin-top: 100px; overflow: hidden;}
		.sec_4>h1{text-shadow: 10px 10px 10px #666; margin-bottom: 30px;  width: 100%; text-transform: uppercase; font-size: 40px; text-align: center; line-height: 40px; height: 40px; color: #00BCD4;}
		.sec_41{ width: 100%;}
		.sec-41{ width: 100%; display: flex; justify-content: center;}
		.sec-41:last-child{ margin-top: -15px;}
		.sec-41 div{ cursor: pointer; width: 25%; position: relative; height: 370px; overflow: hidden;  background-color: #F6CC4C; margin: 10px 1px;}
		.sec-41 div img { width: 100%; height: 100%;}
		.sec-41 div span{ display: block; position: absolute; right: 5px; font-size: 16px; bottom: -30px;}
		
		.sec_5{ width: 100%; height: 500px; margin-top:60px; overflow: hidden; background-image: url(images/team-bg.jpg); background-size:100% ;}
		.sec_5>h1{ padding:40px 0px 20px 0px; position: relative; text-shadow: 10px 10px 10px #666; margin-bottom: 50px;  width: 100%; text-transform: uppercase; font-size: 40px;text-align: center; line-height: 40px; height: 40px; color: #00BCD4;}
		.sec_5>h1:after{ content:''; position: absolute; bottom: -15px; left: 43%; width: 220px; height: 1px; border-bottom: 3px solid #FFB500; }
		.sec_51{ width: 800px; margin: auto; height: 340px; overflow: hidden; position: relative; background: rgba(10,10,20,0.4);}
		.ul_2{ width: 2400px; transition: all 2s; height: 100%; position: absolute; top: 0px; left: 0px; }
		.ul_2 li{ text-align: center; float: left; list-style-type: none; width: 800px; height: 100%;}
		.ul_2 li p:first-child{ margin-top: 60px;}
		.ul_2 li p{ text-align: center; color: #fff; font-size: 14px; line-height: 30px;}
		.ul_2 li span{ display: inline-block; margin: auto; border-radius: 50%; border: 3px solid #FFB500; width: 70px; height: 70px; margin: 20px 0px;}
		.ul_2 li span img{ width: 100%; height: 100%; border-radius: 50%;}
		.ul_2 li h4{ color: #fff; font-weight: normal;}
		.ul_2 li h5{ margin-top: 10px; color: #000; font-weight: normal;}
		.ul_3{ left: 35%; position: absolute; bottom: 0px;}
		.ul_3 li{ width: 60px; list-style-type: none; float: left; height: 8px; cursor: pointer; margin: 10px 10px; border-radius: 30px;}	
		.red{ background-color:#01B4DB;}
		.lan{ background-color: #F6CC4C;}
			
		.sec_6{ width: 100%; overflow: hidden; margin-top: 90px;}
		.sec_6>h1{text-shadow: 10px 10px 10px #666; margin-bottom: 80px;  width: 100%; text-transform: uppercase; font-size: 40px; text-align: center; line-height: 40px; height: 40px; color: #00BCD4;}
		.sec_61{ display: flex; justify-content: center; width: 50%; margin: auto;}
		.sec_61 div{ width: 50%;}
		.sec_61 div h2{ color:#000; padding-left: 20px; font-size: 30px; font-weight: normal;} 
		.sec_61 h2 span{ color: #F6CC4C;}
		#form{ margin-top:30px;}
		#form p input{ width: 90%; height: 40px; color: #fff; font-size: 18px; padding: 0px 0px 0px 10px; margin: 8px 2px; background-color: #000; border: none;}
		#form p input:focus{ outline: none;}
		#form p textarea{ width: 90%; height: 150px; resize: none; color: #fff; font-size: 18px; padding: 5px 0px 0px 10px; margin: 8px 2px; background-color: #000; border: none;}
		#form p textarea:focus{ outline: none;}
		#form p button{ width: 150px; line-height: 40px; font-size: 20px; color: #fff; cursor: pointer; height: 40px; margin-top: 15px; border: none; background-color: #F6CC4C;}
		#form p button:focus{ outline: none;}
		#form p button:hover{ transition: all 1s; background-color: #BCD54B; }
		
		footer{ overflow: hidden; margin-top: 100px; width: 100%; height: 600px; background-color:#272727 ;}
		.foot{ width: 75%; margin: auto; height: 10px;}
		.foot_1{ overflow: hidden; width: 100%; margin-top: 100px; }
		.foot_1 div{ float: left; margin: 0px 20px;}
		.foot_1 div p{ margin-left: 50px;}
		.foot_1 div p input{ color: #fff; font-size: 20px; width: 350px; height: 40px; padding: 5px 10px;background-color:#272727 ; border: 1px solid #fff; border-right: 0px; }
		.foot_1 div p input:focus{ outline: none;}		
		.foot_1 div p button{ cursor: pointer; border-left: 0px; color: #fff; font-size: 20px; width: 100px; display: inline-block; height: 52px; padding: 10px 10px;background-color:#272727 ; border: 1px solid #fff; }
		.foot_1 div p button:focus{ outline: none;}
		.foot_1 div:first-child{width: 250px; height: 50px;  text-align: center; border-top: 3px solid #F6CC4C; border-bottom: 3px solid #F6CC4C;}
		.foot_1 div a{color: #fff; margin-right: 20px; text-decoration: none; line-height: 50px;  font-weight:bold; font-size:32px; }
		.foot_1 div a span{ display: inline-block; margin-right:10px; color: #F6CC4C; }
		.foot_1 div:nth-of-type(3){ margin-left: 100px;}
		.list li{ width: 35px; height: 35px; background: #098; list-style-type: none; float: left; margin: 10px 10px;}
		.foot_2{ overflow: hidden; width: 100%; margin-top:70px;}
		.list_2{ width: 100%;}
		.list_2 li{ margin-left: 15px; float: left; list-style-type: none; width: 32%; }
		.list_2 li h2 a{  text-decoration:none; color: #fff; font-size: 30px;}
		.list_3{ margin-top: 30px; width: 100%;}
		.list_3 li{ margin-left: 0px; width: 80%;color: #969696; margin-top: 10px; clear: both; list-style-type: none; line-height: 25px;}
		.list_3 li a{ text-decoration: none; color: #969696;}
		.list_3 li a:hover{ color: red; transition: all 1s; text-decoration: underline;}
		.foot_3{ color: #fff;font-size: 14px; width: 100%; margin-top: 35px; text-align: center;}